@font-face {
	font-family: 'Ubuntu-Bold';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	src: url('./assets/fonts/ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
	font-family: 'Ubuntu-Regular';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	src: url('./assets/fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
	font-family: 'Ubuntu-Light';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	src: url('./assets/fonts/ubuntu/Ubuntu-Light.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

body {
  margin: 0;
  font-family: 'Ubuntu-Regular' !important;
  font-size: var(--default-font-size) !important;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  p {
    margin-bottom: 0;
  }
}

